/* _____global css_____ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background-color: var(--third-color)
}
h1, h2, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* _____root_____ */
/* _____color_____ */
:root {
    --first-color: rgba(0, 204, 102, .9 );
    --second-color: rgb(0, 26, 51);
    --third-color: #ccffff;
}

/* _____z-index_____ */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* _____header section_____ */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgba(0, 26, 51);
    box-shadow: 0px 15px 100px rgba(0, 26, 51, .5);
    z-index: 10;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
nav img {
    width: 45px;
    transition: .35s;
}
nav img:hover {
    width: 47px;
}
.nav-menu .nav-list li a {
    color: var(--third-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    flex-wrap: nowrap;
}
.nav-menu .nav-link:hover {
    position: relative;
}
.nav-menu .nav-link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
}
.nav-link .bx {
    font-size: 1.8rem;
    color: var(--first-color);
}
.nav-toggle {
    display: none;
}

/* _____home section_____ */
.home-container {
    margin-left: 3.2rem;
}
.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.home-img {
    width: 600px;
    margin-top: 9rem;
}
.home-data {
    margin-top: 5rem;
}
.home-title {
    color: var(--second-color);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.home-title-name {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -2rem ;
    color: var(--first-color);
    text-shadow: 3px 3px 3px var(--second-color);
    font-size: 3rem;
}
.contact-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home-button1 {
    display: flex;
    gap: 1rem; 
}
.home-button1 a, .home-button2 a {
    color: var(--third-color);
    background-color: var(--second-color);
    font-size: 1rem;
    border-radius: 50px;
    padding: .5rem 1rem;
}
.home-button2 {
    display: flex;
    gap: 2rem; 
    margin-top: 2rem;
}
.home-button2 button {
    color: var(--second-color);
    background-color: var(--third-color);
    border: 1px solid var(--first-color);
    padding: .5rem .5rem;
    border-radius:50px;
}
.home-button2 .bx {
    color: var(--second-color);
    font-size: 2rem;
}
span .bx {
    color: var(--second-color);
    font-size: 2rem;
    transform: rotate(180deg);
}
.home-social {
    display: flex;
    flex-wrap: nowrap;
}
.home-social-icon {
    margin: 0 .2rem;
    padding: .3rem .3rem;
    color: var(--third-color);
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1rem;
}
/* .arrow { */
    /* margin-left: 10rem; */
    /* margin-bottom: .5rem; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* transform: rotate(270deg); */
/* } */
/* .arrow span { */
    /* display: block; */
    /* width: 1vw; */
    /* height: 1vw; */
    /* border-bottom: 5px solid var(--second-color); */
    /* border-right: 5px solid var(--second-color); */
    /* transform: rotate(45deg); */
    /* margin: -10px; */
    /* animation: animate 2s infinite; */
/* } */
/* .arrow span:nth-child(2) { */
    /* animation-delay: -0.2s; */
/* } */
/* .arrow span:nth-child(3) { */
    /* animation-delay: -0.4s; */
/* } */
/* @keyframes animate { */
    /* 0% { */
        /* opacity: 0; */
        /* transform: rotate(45deg) translate(-20px, -20px); */
    /* } */
    /* 50% { */
        /* opacity: 1; */
    /* } */
    /* 100% { */
        /* opacity: 0; */
        /* transform: rotate(45deg) translate(20px, 20px); */
    /* } */
/* } */
/* _____about section_____ */
.about-title {
    text-align: center;
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: 5rem;
}
.about-container {
    margin-top: 1rem;
}
.about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}
.about-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    text-align: center;
    color: var(--second-color);
    line-height: 1.4rem;
}
.about-subtext {
    font-size: 1.1rem;
}
.flex-content {
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
    justify-content: center;
}
.vertical-line {
    border: 1.5px solid var(--second-color);
    height: 300px;
}
.about-text button {
    color: var(--second-color);
    background-color: var(--third-color);
    border: 1.5px solid var(--first-color);
    padding: .5rem 1rem;
    border-radius:50px;
    font-weight: 700;
}
.fun-fact {
    text-align: center;
    margin: 0 auto;
}
.fun-fact-title {
    text-align: center;
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: 3rem;
}
.fun-fact-title2 {
    text-align: center;
    font-size: 2rem;
    color: var(--second-color);
    letter-spacing: .8rem;
}
.fun-fact-title2 span {
    color: #cc0000;
}
.fun-fact-subtitle {
    text-align: center;
    font-size: 1.5rem;
    color: var(--second-color);
    margin-top: 1rem;
    letter-spacing: .2rem;
    line-height: 3rem;
}
.fun-fact-subtitle span {
    color: var(--first-color);
}
.fun-fact-subtitle .bx {
    font-size: 2.5rem;
    padding: 0 5px;
    margin-top: 7px;
}

/* _____services_____ */
.services-container {
    min-height: 100vh;
    width: 100%;
    margin-top: 7rem;
}
.services-title {
    text-align: center;
    font-size: 2rem;
    color: var(--second-color);
}
.services-content {
    margin-top: 3rem;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.card {
    height: 320px;
    width: 420px;
    padding: 2rem;
    background-color: var(--second-color);
    border: 1px solid var(--first-color);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: .5s;
    text-align: center;
    line-height: 1.5rem;
}
.card:hover {
    transform: translateY(-.5rem);
}
.card i {
    color: var(--first-color);
    font-size: 2.5rem; 
}
.card i:hover {
    color: var(--third-color);
}
.card h2 {
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
.card h2:hover {
    color: var(--third-color);
}
.card p {
    text-align: center;
    width: 100%;
    color: var(--third-color);
}
.card p:hover {
    color: var(--first-color);
}
.card button {
    background: var(--third-color);
    color: var(--second-color);
    border: 1px solid var(--first-color);
    padding: .5rem 1rem;
    border-radius: 50px;
    font-weight: 700;
}
.card button:hover {
    background-color: var(--first-color);
}

/* _____skills_____ */
.skills-container {
    width: 70%;
    margin: 7rem auto;
}
.skills-title {
    text-align: center;
    font-size: 2rem;
    color: var(--second-color); 
}
.skills-content {
   
}
.skills-container img {
    width: 400px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.skills-subtitle {
    text-align: center;
    font-size: 2rem;
    color: var(--second-color); 
}
.skills-text {
    text-align: center;
    font-size: 1.5rem;
    color: var(--second-color); 
}
.skills-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 500;
    padding: .5rem .1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: rgbz(0, 26, 51, .15);
}
.skill-icon {
    font-size: 2.5rem;
}
.skill-name {
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 1.5rem;
}
.skill-persentage {
    
}
.skill-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--second-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: 10;
}
.skill-html {
    width: 95%;
}
.skill-css {
    width: 85%;
}
.skill-bootstrap {
    width: 85%;
}
.skill-tailwind {
    width: 75%;
}
.skill-javascript {
    width: 65%;    
}
.skill-sass {
    width: 75%;    
}
.skill-react {
    width: 60%;
}.skill-git {
    width: 75%;
}
.skill-github {
    width: 80%;
}

/* _____work_____ */
.works_container { 
    margin-top: 7rem;
}
.works_container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--second-color);
}
.works_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.work_card {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-color);
    overflow: hidden;
    display: flex;
    width: 420px;
    height: 320px;
}
.work_card img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.work_card:hover img {
    transform: scale(1.1);
}
.card_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 26, 51, .1), rgb(204, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    color: var(--second-color);
}   
.work_card:hover .card_layer {
    transform: translateY(0);
}
.card_layer h4 {
    font-size: 2rem;
}
.card_layer p {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}
.card_layer a i {
    font-size: 1.5rem;
    color: var(--second-color);
 }

/* _______________contact_______________ */
.contact_container {
    margin-top: 7rem;
}
.contact_background {
    height: 40vh;
    background: linear-gradient(rgba(0, 26, 51, .5), rgba(204, 255, 255, 1));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -3.5rem;
}
.contact_background h3 {
    font-size: 1.3rem;
    font-weight: 400;
}
.contact_background h1 {
    font-size: 2.5 rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
} 
.line div {
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: var(--second-color);
    border-radius: 5px;
}
.line {
    margin-top: 3px;
    display: flex;
    align-items: center;
}
.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: var(--second-color);
    border-radius: 50%;
}
.contact_details {
    font-weight: 300;
    opacity: 0.9;
    margin: 0.65rem 0;
}
.contact_details span {
    color: var(--second-color);
    font-weight: 500;
}
.contact_content{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact_info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact_info span {
    display: block;
}
.fas_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_info  div {
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact_info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: var(--second-color);
}
.contact_info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}
.contact_info text {
    padding: 0.4rem;
}
.contact_form {
    padding: 1rem 0;
    border-top: 2px solid var(--second-color);
}
.contact_form div {
    margin-bottom: -3rem;
}
.flex_textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_form form {
    padding-bottom: 1rem;
}
.form_control {
    width: 100%;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    outline: 0;
}
.form_control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact_form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}
.send_button {
    margin-top: 7px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: var(--third-color);
    background-color: var(--second-color);
}
.send_button:hover {
    color: #fff;
    background-color: ;
}
.social_links {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    padding-bottom: 2rem;
}
.social_links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: var(--second-color);
    border: 2px solid var(--second-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.contact_footer {
    text-align: center;
    color: var(--second-color);
    font-size: 1.5rem;
    background: linear-gradient(rgba(0, 26, 51, .5), rgba(204, 255, 255, 1));
}
.contact_footer h3 {
    padding: 2rem;
}
.social_links a:hover {
     color: var(--first-color);
     border-color: var(--first-color);
}
/* _____media queries_____ */
@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: 4.4rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
        border: 1px solid var(--first-color);
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        margin-bottom: 1rem;
    }
    .nav-link {
        position: relative;
        color: var(--third-color);
    }
    .nav-link:hover {
        position: relative;
    }
    .nav-link:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 1.5rem;
        background-color: var(--first-color)
    }
    .nav-toggle {
        display: block;
        color: var(--first-color);
        font-size: 1.5rem;
        cursor: pointer;
    }
    .active::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 1.5rem;
        background-color: var(--first-color)
        }
    .show {
        right: 0;
    }
}   

















;













;



